{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid">

<div class="row">
<!--    ============== EXTEND SIDEBAR =======================-->
<!--    =====================================================-->
    {% include 'dashboards/sidebar.html' %}


    <!--======================== MAIN CONTENT ==========================-->
    <!--================================================================-->

    <main class="col-md-10 p-4">
      <h2> <b>Categories</b></h2>
        <div class="d-flex float-lg-end">
            <a href="{% url 'category_dashboard' %}"
               class="btn btn-primary">

                <i class="bi bi-skip-backward me-1"></i>

                 Back

            </a>
        </div>
        <div class="register-card align-content-md-center">
            <form action="{% url 'add_new_category' %}" method="POST">
                {% csrf_token %}
                {{form | crispy}}
                <button type="submit" class="btn btn-primary float-lg-start">
                    submit
                </button>
            </form>
        </div>
    </main>
</div>
</div>

{% endblock %}