{% extends 'base.html' %}

    {% block content %}

    <!-- ==========================================
                    Blog Hero
    ========================================== -->

    <section class="post-hero">

        <div class="post-container">

            <span class="post-category">

                {{blog_page.category}}

            </span>

            <h1>

                {{blog_page.title}}

            </h1>

            <p class="post-subtitle">

                {{blog_page.short_description}}

            </p>

            <div class="post-meta">

                <div class="author">

<!--                    <img src="/static/images/avatar.jpg" alt="Author">-->

                    <div>

                        <h4>Author: {{blog_page.author}}</h4>

<!--                        <span>Senior Software Engineer</span>-->

                    </div>

                </div>

                <div class="meta-info">

                    <span>

                        <i class="fa-regular fa-calendar"></i>

                        {{blog_page.created_at|date:"M, d, Y"}}

                    </span>

                    <span>

                        <i class="fa-regular fa-clock"></i>

                        8 min read

                    </span>

                    <span>

                        <i class="fa-regular fa-eye"></i>

                        2.4k Views

                    </span>

                </div>

            </div>

        </div>

    </section>

    <!-- ==========================================
                    Featured Image
    ========================================== -->

    <section class="featured-image">

        <img src="{{ blog_page.image.url }}"
             alt="Blog Image">

    </section>

    <!-- ==========================================
                    Blog Body
    ========================================== -->

    <section class="blog-content-section">

        <div class="blog-layout">

            <!-- ==========================
                    Social Share
            =========================== -->

            <aside class="share-bar">
                {% if social_links %}
                    {% for link in social_links %}

                    <a href="{{link.social_link}}"><i class="fab fa-{{link.social_platform}}"></i></a>

                    {% endfor %}

<!--                    <a href="#"><i class="fab fa-x-twitter"></i></a>-->

<!--                    <a href="#"><i class="fab fa-linkedin"></i></a>-->

<!--                    <a href="#"><i class="fab fa-github"></i></a>-->

<!--                    <a href="#"><i class="fas fa-link"></i></a>-->
                {% endif %}

            </aside>

            <!-- ==========================
                    Main Article
            =========================== -->

            <article class="blog-content">

                <p class="lead">

                    {{blog_page.body}}

                </p>

<!--                <h2>-->

<!--                    Why AI Matters-->

<!--                </h2>-->

<!--                <p>-->

<!--                    Modern software projects demand speed, quality and-->
<!--                    scalability. AI assists developers by automating repetitive-->
<!--                    tasks while improving code quality.-->

<!--                </p>-->

<!--                <blockquote>-->

<!--                    "Artificial Intelligence isn't replacing developers;-->
<!--                    it's making great developers even more productive."-->

<!--                </blockquote>-->

<!--                <h2>-->

<!--                    AI in Development-->

<!--                </h2>-->

<!--                <p>-->

<!--                    From GitHub Copilot to intelligent testing frameworks,-->
<!--                    developers now spend more time solving business problems-->
<!--                    instead of writing repetitive code.-->

<!--                </p>-->

<!--                <img src="/static/images/post-content.jpg"-->
<!--                     alt="Content Image">-->

<!--                <h2>-->

<!--                    Example-->

<!--                </h2>-->

<!--                <pre><code>-->
<!--    def greet(name):-->
<!--        return f"Hello {name}"-->
<!--                </code></pre>-->

<!--                <p>-->

<!--                    AI can generate, optimize and document code snippets-->
<!--                    similar to the example above.-->

<!--                </p>-->

                <!-- Tags -->

                <div class="post-tags">

                    <a href="#">AI</a>

                    <a href="#">Python</a>

                    <a href="#">Machine Learning</a>

                    <a href="#">Programming</a>

                    <a href="#">Technology</a>

                </div>

            </article>

        </div>

    </section>

    <!-- ==========================================
                    Author Box
    ========================================== -->

    <section class="author-box">

        <img src="/media/images/avatar.jpg">

        <div>

            <h3>

                {{blog_page.author}}

            </h3>

            <p>

                John is a software engineer passionate about Artificial
                Intelligence, Cloud Computing and modern web development.

            </p>

        </div>

    </section>

    <!-- ==========================================
                    Previous / Next
    ========================================== -->

    <section class="post-navigation">

        <a href="#" class="prev-post">

            ← Previous Article

        </a>

        <a href="#" class="next-post">

            Next Article →

        </a>

    </section>

    <!-- ==========================================
                    Related Posts
    ========================================== -->

    <section class="related-posts">

        <div class="section-heading">

            <h2>

                Related Articles

            </h2>

        </div>

        <div class="blog-grid">


            <article class="card">

                <img src="{{blog.image.url}}">

                <div class="card-content">

                    <h3>

                        {{blog.title}}

                    </h3>

                    <a href="#">

                        Read More

                    </a>

                </div>

            </article>


            <article class="card">

                <img src="/media/post2.jpg">

                <div class="card-content">

                    <h3>

                        Machine Learning Roadmap

                    </h3>

                    <a href="#">

                        Read More

                    </a>

                </div>

            </article>

            <article class="card">

                <img src="/static/images/post3.jpg">

                <div class="card-content">

                    <h3>

                        The Future of Cloud Computing

                    </h3>

                    <a href="#">

                        Read More

                    </a>

                </div>

            </article>

        </div>

    </section>


    <!-- ==========================================
                    Comments
    ========================================== -->

    <section class="comments">
        &emsp;
        <h2>Comments({{comment_count}})</h2>
        {% if comments %}
            {% for comment in comments %}
                <div class="comment-card">

                    <div class="comment-header">

                        <div class="user-info">

                            <div>
                                <h6>{{comment.user}}</h6>

                                <small>
                                    {{comment.created_at | date:"D, M, Y" }}
                                </small>
                            </div>

                        </div>
                        {% if perms.auth.view_user %}
                            <button class="btn btn-sm text-danger">
                                <i class="bi bi-trash"></i>
                            </button>
                        {% endif %}

                    </div>

                    <p class="comment-text">
                        {{comment.comment}}
                    </p>

                </div>
            {% endfor %}
        {% else %}
        No comments
        {% endif %}
        &emsp;
        &emsp;
        {% if user.is_authenticated %}
            <h2>

                Leave a Comment

            </h2>

            <form action="" method="POST">
                {% csrf_token %}

                <textarea
                    rows="6"
                    name="comment"
                    placeholder="Write your comment..."></textarea>

                <button type="submit" value="submit">
                    Post comment
                </button>

            </form>
        {% else %}
            <h5> Please <span style="color: #0a58ca;"><a href="{% url 'login' %}"> login </a></span> to leave a comment.</h5>
        {% endif %}
    </section>

    {% endblock %}