{% extends 'base.html' %}
    {% block content %}

    <!-- ==========================
            Hero Section
    =========================== -->

    <header class="hero">

        <div class="hero-text">

            <h1>
                Discover Amazing Stories Every Day
            </h1>

            <p>
                Explore inspiring articles written by talented
                creators from around the world.
            </p>

            <button>
                Start Reading
            </button>

        </div>

        <div class="hero-image">

            <img
                src="https://images.unsplash.com/photo-1499750310107-5fef28a66643"
                alt="Hero Image">

        </div>

    </header>

    <!-- ==========================
            Categories
    =========================== -->

    <section class="categories">
        {% for category in categories %}

        <span> <a href="{% url 'categorical_posts' category.id %}"> {{category.title}}</a> </span>
<!--        <span>Programming</span>-->
<!--        <span>Artificial Intelligence</span>-->
<!--        <span>Business</span>-->
<!--        <span>Travel</span>-->
<!--        <span>Design</span>-->
<!--        <span>Lifestyle</span>-->
        {% endfor %}
    </section>

    <!-- ==========================
            Main Content
    =========================== -->

    <div class="container">

        <!-- Blog Area -->

        <main>

            <!-- Featured Blog -->
            {% for post in featured_posts %}
                {% if forloop.first %}
                <section class="featured">

                    <img
                        src="{{ post.image.url }}"
                        alt="Featured">

                    <div class="featured-content">

                        <h2>{{post.title}}</h2>

                        <p>
                            {{post.short_description | truncatewords:10}}
                        </p>

                        <button>
                            <a href="{% url 'blogs' post.slug %}"> Read More</a>
                        </button>
<!--                        <div class="latest-info" >-->
<!--                            <span>{{post.author}}</span>&ndash;&gt;-->

<!--                            <span>{{post.created_at | timesince}} ago</span>-->
<!--                        </div>-->

                    </div>

                </section>
                {% endif %}
            {% endfor %}


                <!-- ==========================
                        Latest Stories
                =========================== -->

                <section class="latest-posts">

                    <div class="section-title">
                        <h2>Featured Posts</h2>
                        <a href="#">View All</a>
                    </div>

<!--                    <div class="latest-grid">-->
<!--                        {% for post in featured_posts %}-->
<!--                            {% if not forloop.first %}-->

<!--                            <article class="latest-card">-->

<!--                                <img src="{{post.image.url}}" alt="">-->

<!--                                <div class="latest-content">-->

<!--                                    <span class="category-tag">-->
<!--                                        {{post.category}}-->
<!--                                    </span>-->

<!--                                    <h3>-->
<!--                                        {{post.title}}-->
<!--                                    </h3>-->

<!--                                    <p>-->
<!--                                        {{post.short_description | truncatewords:10}}-->
<!--                                    </p>-->

<!--                                    <div class="latest-info">-->

<!--&lt;!&ndash;                                        <span>{{post.author}}</span>&ndash;&gt;-->

<!--                                        <span>{{post.created_at | timesince}} ago</span>-->

<!--                                    </div>-->

<!--                                </div>-->

<!--                            </article>-->
<!--                            {% endif %}-->
<!--                        {% endfor %}-->

<!--&lt;!&ndash;                        <article class="latest-card">&ndash;&gt;-->

<!--&lt;!&ndash;                            <img src="images/post2.jpg" alt="">&ndash;&gt;-->

<!--&lt;!&ndash;                            <div class="latest-content">&ndash;&gt;-->

<!--&lt;!&ndash;                                <span class="category-tag">&ndash;&gt;-->
<!--&lt;!&ndash;                                    Programming&ndash;&gt;-->
<!--&lt;!&ndash;                                </span>&ndash;&gt;-->

<!--&lt;!&ndash;                                <h3>&ndash;&gt;-->
<!--&lt;!&ndash;                                    Mastering CSS Grid in 2026&ndash;&gt;-->
<!--&lt;!&ndash;                                </h3>&ndash;&gt;-->

<!--&lt;!&ndash;                                <p>&ndash;&gt;-->
<!--&lt;!&ndash;                                    Learn the modern layout system every frontend developer&ndash;&gt;-->
<!--&lt;!&ndash;                                    should know.&ndash;&gt;-->
<!--&lt;!&ndash;                                </p>&ndash;&gt;-->

<!--&lt;!&ndash;                                <div class="latest-info">&ndash;&gt;-->

<!--&lt;!&ndash;                                    <span>Mary Jane</span>&ndash;&gt;-->

<!--&lt;!&ndash;                                    <span>6 min read</span>&ndash;&gt;-->

<!--&lt;!&ndash;                                </div>&ndash;&gt;-->

<!--&lt;!&ndash;                            </div>&ndash;&gt;-->

<!--&lt;!&ndash;                        </article>&ndash;&gt;-->

<!--&lt;!&ndash;                        <article class="latest-card">&ndash;&gt;-->

<!--&lt;!&ndash;                            <img src="images/post3.jpg" alt="">&ndash;&gt;-->

<!--&lt;!&ndash;                            <div class="latest-content">&ndash;&gt;-->

<!--&lt;!&ndash;                                <span class="category-tag">&ndash;&gt;-->
<!--&lt;!&ndash;                                    AI&ndash;&gt;-->
<!--&lt;!&ndash;                                </span>&ndash;&gt;-->

<!--&lt;!&ndash;                                <h3>&ndash;&gt;-->
<!--&lt;!&ndash;                                    Top 10 Machine Learning Libraries&ndash;&gt;-->
<!--&lt;!&ndash;                                </h3>&ndash;&gt;-->

<!--&lt;!&ndash;                                <p>&ndash;&gt;-->
<!--&lt;!&ndash;                                    Discover the best Python libraries for building&ndash;&gt;-->
<!--&lt;!&ndash;                                    intelligent applications.&ndash;&gt;-->
<!--&lt;!&ndash;                                </p>&ndash;&gt;-->

<!--&lt;!&ndash;                                <div class="latest-info">&ndash;&gt;-->

<!--&lt;!&ndash;                                    <span>David</span>&ndash;&gt;-->

<!--&lt;!&ndash;                                    <span>8 min read</span>&ndash;&gt;-->

<!--&lt;!&ndash;                                </div>&ndash;&gt;-->

<!--&lt;!&ndash;                            </div>&ndash;&gt;-->

<!--&lt;!&ndash;                        </article>&ndash;&gt;-->

<!--                    </div>-->

                </section>
            <!-- Blog Cards -->

            <section class="blog-grid">

                <!-- Card -->
                {% for post in featured_posts %}
                    {% if not forloop.first %}
                    <article class="card">

                        <img
                            src="{{ post.image.url }}"
                            alt="Python">

                        <div class="content">

                            <h3>
                                {{post.title}}
                            </h3>

                            <p>
                                {{post.short_description}}
                            </p>

                            <div class="info">

                                <span>
                                    <i class="fa-solid fa-user"></i>
                                    {{post.author}}
                                </span>

                                <span>
                                    <i class="fa-solid fa-clock"></i>
                                    {{post.created_at | timesince}} ago
                                </span>

                            </div>

                            <button> <a href="{% url 'blogs' post.slug %}"> Read More</a>
                            </button>

                        </div>

                    </article>
                    {% endif %}
                {% endfor %}
            </section>


<!--==========================================Blog Posts=======================================================-->
<!--===========================================================================================================-->
            <!-- Blog posts -->
            <section class="latest-posts">

                <div class="section-title">
                    <h2>Blog Posts</h2>
                    <a href="#">View All</a>
                </div>
            </section>

            <section class="blog-grid">

                {% for post in not_featured_posts %}
                <article class="card">

                    <img
                        src="{{post.image.url}}"
                        alt="JavaScript">

                    <div class="content">

                        <h3>
                            {{post.title}}
                        </h3>

                        <p>
                            {{post.short_description}}
                        </p>

                        <div class="info">

                            <span>
                                <i class="fa-solid fa-user"></i>
                                {{post.author}}
                            </span>

                            <span>
                                <i class="fa-solid fa-clock"></i>
                                6 min read
                            </span>

                        </div>

                        <button> <a href="{% url 'blogs' post.slug %}"> Read More</a>
                        </button>

                    </div>

                </article>
                {% endfor %}

                <!-- Card -->

<!--                <article class="card">-->

<!--                    <img-->
<!--                        src="https://images.unsplash.com/photo-1516321497487-e288fb19713f"-->
<!--                        alt="Web Design">-->

<!--                    <div class="content">-->

<!--                        <h3>-->
<!--                            UI Design Trends-->
<!--                        </h3>-->

<!--                        <p>-->
<!--                            Discover beautiful interfaces that are-->
<!--                            dominating the web in 2026.-->
<!--                        </p>-->

<!--                        <div class="info">-->

<!--                            <span>-->
<!--                                <i class="fa-solid fa-user"></i>-->
<!--                                Mary Johnson-->
<!--                            </span>-->

<!--                            <span>-->
<!--                                <i class="fa-solid fa-clock"></i>-->
<!--                                7 min read-->
<!--                            </span>-->

<!--                        </div>-->

<!--                        <button>-->
<!--                            Read More-->
<!--                        </button>-->

<!--                    </div>-->

<!--                </article>-->

            </section>

        </main>

        <!-- Sidebar -->

        <aside>

            <!-- Trending -->

            <div class="sidebar-box">

                <h2>
                    Trending Posts
                </h2>

                <ul>

                    <li>Artificial Intelligence</li>
                    <li>Python Automation</li>
                    <li>React Development</li>
                    <li>Data Science</li>
                    <li>Cyber Security</li>

                </ul>

            </div>

            <!-- Newsletter -->

            <div class="sidebar-box">

                <h2>
                    Newsletter
                </h2>

                <p>
                    Subscribe to receive weekly articles.
                </p>

                <input
                    type="email"
                    placeholder="Enter your email">

                <button>
                    Subscribe
                </button>

            </div>

        </aside>

    </div>

    <!-- ==========================
            Footer
    =========================== -->

    {% endblock %}