<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
      content="width=device-width, initial-scale=1.0">

<title>Login | Blogify</title>

<link rel="stylesheet" href="{% static 'css/home.css' %}">


</head>

<body>


<main class="login-page">

    <div class="login-card">

        <h1>Welcome Back</h1>

        <p>Login to continue to Blogify.</p>

        <form method="POST">
            {% csrf_token %}
            {{ form | crispy}}
<!--            <div class="form-group">-->

<!--                <label for="username">-->
<!--                    Username-->
<!--                </label>-->

<!--                <input-->
<!--                    type="text"-->
<!--                    id="username"-->
<!--                    name="username"-->
<!--                    placeholder="Enter username"-->
<!--                    required-->
<!--                >-->

<!--            </div>-->

<!--            <div class="form-group">-->

<!--                <label for="password">-->
<!--                    Password-->
<!--                </label>-->

<!--                <input-->
<!--                    type="password"-->
<!--                    id="password"-->
<!--                    name="password"-->
<!--                    placeholder="Enter password"-->
<!--                    required-->
<!--                >-->

<!--            </div>-->

            <button type="submit">
                Login
            </button>

        </form>

        <p class="register-link">

            Don't have an account?

            <a href="{% url 'register' %}">
                Register
            </a>

        </p>

    </div>

</main>


</body>

</html>
